.name-navigation-navbar, footer {
    display: flex; align-items: center; justify-content: center; flex-wrap: wrap;
}

/* Navbar */
.sections-navigation-navbar {
    .navbar {
        background-color: var(--eerieBlack) !important; color: var(--floralWhite) !important;
        height: 100px;
        .container-fluid {
            background-color: var(--eerieBlack); z-index: 99;
            .navbar-toggler {
                background-color: var(--blackOlive); border: 1px solid var(--timberwolf);
                span { filter: invert(100%); }
            }
            .brand-left {
                img { padding: 0 1em; }
            }
            .navbar-collapse.show {
                .nav-item { border: 0 !important; }
            }
            .navbar-nav {  
                .nav-item {
                    border-right: 1px dashed var(--floralWhite);
                    &:first-child { border-left: 1px dashed var(--floralWhite); }
                    &:last-child { border-right: none; }
                    &:hover { 
                        background-color: var(--blackOlive); 
                        img { scale: 1.15; }
                    }
                    a {       
                        margin-inline: 10px; white-space: nowrap;    
                        color: var(--floralWhite) !important; 
                        text-transform: uppercase; letter-spacing: 1px; font-size: 14px;
                        img { transition: 0.35s; margin-bottom: 5px; }
                    }  
                }                              
            }
            .navbar-brand {
                display: inline-flex; flex-direction: column;
                margin: 0; padding: 0; border: 0;  
                span {
                    height: 22px;
                    font-size: 9px; letter-spacing: 1px; color: var(--floralWhite);                    
                }        
                a {
                    img {
                        width: auto; height: 24px; scale: .8;
                        transition: 0.25s;
                        &:hover { position: relative; scale: .9; }
                    }  
                }                         
            }
        }        
    }    
}

/* Input */
.name-navigation-navbar {
    background-color: var(--blackOlive); box-shadow:  0px 5px 5px 0px rgba(37, 36, 34, .75);
    padding: 0.5rem; padding-bottom: 1.5rem; border-top: 1px dashed var(--floralWhite); 
    .row {
        width: 100%;  margin-bottom: 0;        
        .input-field input[type=text]:focus + label {            
            color: var(--timberwolf); border-bottom-color: var(--timberwolf);
        }
        label { 
            font-size: 12px; text-transform: uppercase; letter-spacing: 1px;
            color: var(--timberwolf);
        }        
        input {            
            font-size: 16px; color: var(--floralWhite);
            margin-bottom: 0 !important; border-bottom: 2px solid var(--timberwolf);
        }
    }
}

/* Navbar Abecedario */
footer {
    width: 100%; position: absolute; bottom: 0 !important; 
    gap: 8px; padding: 1em; 
    background-color: var(--eerieBlack); box-shadow:  0px -5px 5px 0px rgba(37, 36, 34, .75);    
    label {
        width: 100%; color: var(--floralWhite); margin-bottom: 5px;
        text-align: center; font-size: 16px; letter-spacing: 1px; text-transform: uppercase;
    }
    button {
        display: inline-flex; align-items: center; justify-content: center;
        font-size: 13px; font-weight: bold;
        border: 2px solid var(--blackOlive);
        background-color: var(--floralWhite); color: var(--eerieBlack); 
        &:hover { background-color: var(--timberwolf); scale: 1.05; }
    }    
}

/*1024*/
@media screen and (max-width: 768px) {
    .name-navigation-navbar {
        label { font-size: 10px !important; }
        input { padding-top: 10px !important; }
    }
    footer {
        gap: 5px !important;
        label { font-size: 14px !important; }
        button { font-size: 12px !important; }
    }
    
}